body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*------------------applied grid in this class----------*/
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 600px auto auto auto ;
}

/*-----------------------------------Menu bar---------------------------*/
.menu{
    height: 100vh;
    width: 300px;
    background-color: crimson;
    position: fixed;
}
.menu img{
    margin:30px 60px;
    height: 170px;
    width: 160px;
  
    border:1px solid white;
    border-radius: 50%;

}
.menu h3{
    margin-top: -21px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6em;
    font-weight: 50;
    letter-spacing: 1px;
    color:(rgb(145, 142, 142) 10%,rgb(70, 68, 68) 90%);
}
.menu h2{
    color: white;
    font-size: 1.3em;
    text-align: center;
}
.menu nav{
    margin-top: 20px;
    line-height: 48px;
}
.menu nav ul{
list-style: none;
padding: 15px;
font-size: 1.4em;
}
.menu nav ul li a{
    color: rgb(236, 233, 233);
    text-decoration: none;
    
}
.menu nav ul li a:hover{
background-color: thistle;
color: rgb(0, 0, 0);
padding-top:2px;
padding-bottom: 2px;
padding-right: 20px;
}
.menu nav ul li i{
    padding:5px;
}
  
/*-------------------second grid for right side-----------------------*/
.right{
   height: 100vh;
    width: 80%;
    margin-left: 20%;

}
/*-------------------Property of titles--------------------------*/
.titles{
    margin-left: 50px;
    margin-top: 80px;
    font-size: 3.2em;
}
/*-----------------------------------Home Page-------------------------------*/
 .profilepage{
    height: 80vh;
    transform: translateY(220px);
}
.profilepage h1{
    font-size: 4em;
    padding-left: 45px;
    transition: 0.999949950s ease-in;
}
.profilepage h1 #name{
    color: crimson;
}
.profilepage  #belowtitle{
    padding-left: 45px;
    margin-top: -40px;
    font-size: 1.82em;
}
.profilepage .btn{
    margin-left: 50px;
    height: 48px;
    width: 160px;
    font-size: 1.1em;
    border-radius: 5px;
    border: 1px solid crimson;
    color: crimson;
    background-color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: crimson;
    color:white;
    transition: .5s ease-in;
}

/*-----------------------------------About Page-------------------------------*/
 .about{
     margin-top: 0px;
     background:black; 
   
    }
.about #about{
    padding-top: 50px;
    color: white;
}
.about #whoami{
    font-size: 1.65em;
    color: white;
    margin-left: 50px;
}
.about #abtcontent{
    color: white;
    font-size: 1.1em;
    word-spacing: 3px;
    margin-left: 50px;
    line-height: 25px;
}

.about .gridboxes{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px;
    margin-left: 50px;
    margin-top: 80px;
    color: white;
    grid-gap:30px;
}
.about .items{
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    color:white;
    border: 1px solid white;
}
.about  .fa-code{
    font-size: 5em;
    margin-top: 5px;
    margin-left: 126px;
}
.about  .fa-connectdevelop{
    font-size: 5em;
    margin-top: 15px;
    margin-left: 126px;
}
.about  .fa-desktop{
    font-size: 5em;
    margin-top: 15px;
    margin-left: 126px;
}

.about .items h4{
    text-align: center;
    font-size: 2em;
}
.about #itemcontent{
    padding:0 10px;
    text-align: justify;
    font-size: 1.25em;
}
.about .items:hover{
    background-color:black;
    color: crimson;
    transition: 0.75s ease-out;
    border: 2px solid crimson;
}

/*-----------------------------------Qualifications Page-------------------------------*/
.qualification{
    height: 600px;
}
.qualification .qualificationtitle{
    color:crimson;
}
.qualification .qualifications{
    margin-top: 90px;
    margin-left: 200px;
    display:grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: auto;
    grid-gap: 90px;
}
.qualification .qualifications .edu{
    border: 1.5px solid crimson;
    padding: 10px 20px;
    border-radius: 5px;
    text-align:center;
}
.qualification .qualifications .edu #edutitle{
    color: crimson;
    font-weight: 800;
    font-size: 1.2em;
    padding-bottom: 15px;
    border-bottom: 2px solid crimson;
}

/*-----------------------------------Skills Page-------------------------------*/

.skills{
    background:black;
    
    padding-top: 10px;
}
.skills .skillstitle{
    color: white;
}
.skill{
    width: 90%;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px;
    grid-gap:40px;
    margin-left: 100px;
    text-align:center;
    font-size: 1em;
}
.skillbox{
    background-color: white;
    border-radius: 4px;
    padding:4px;
    margin-top: 10px;
    border: 2px solid crimson;
}
.skillbox .skillicon{
height: 100px;
width:140px;
}

/*-----------------------------------Projects Page-------------------------------*/
.projects{
    margin-bottom: 50px;
}
.projects .projecttitle{
    color: crimson;
}
.projects .projectcontainer{
    
    padding: 20px 80px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows:250px 250px;
    grid-gap: 35px;
  
}
.projects .projectcontainer .projectbox{
border: 1px solid crimson;
    cursor: pointer;  
}
.projects .projectcontainer .projectbox:nth-child(1){
    padding-top: 25px; 
}

.projects .projectcontainer .projectbox:nth-child(2){
    padding-top: 25px; 
  }
.projects .projectcontainer .projectbox:nth-child(3){
padding-top: 25px;
}
.projects .projectcontainer .projectbox:nth-child(4){
    padding-top: 25px;
    padding-left: 0px;
    }
.projects .projectcontainer .projectbox:nth-child(5){
    padding-top: 25px;
    padding-left: 0px;
    }

.projects .projectcontainer .projectbox:hover{
    transform: scale(1.01);
    background-color: crimson;
 
}
/*-----------------------------------Contact Page-------------------*/
.contact{
    background:black;
    height: 80vh;
    width: 80%;
}
.contact #conttitle{
    padding-top: 70px;
    color: white;
}
.contact .contactcontainer{
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
 
}
.contact .contactcontainer .formbox{
    background-color: rgba(255,255,255,0.5);
    height: 300px;
    width: 370px;
    margin-left: 70px;
    padding:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 25px;
    border-radius: 5px;
}
.contact .contactcontainer .formbox .input{
    padding: 8px 10px;
    font-size:15px;
    width:350px;
    border-radius: 5px;
    border:none;
}
.contact .contactcontainer .formbox .submitmsg{
    background-color: white;
    border: none;
    color: crimson;
    padding: 5px 15px;
    border: 1px solid crimson;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
}
.contact .contactcontainer .formbox .submitmsg:hover{
    border: none;
    background-color: crimson;
    color: white;
    font-weight: 600;
    transition: .4s ease-out;
}
.contact .contactcontainer .socialbox{
 width: 90%;
 height: 45vh;
}
.contact .contactcontainer .socialbox .haveaquestion{
    font-size: 30px;
    color: white;
    font-weight: 500;
}
.contact .contactcontainer .socialbox .social-menu ul{
	padding:0;
	margin:0 16%;
	display:flex;
}
.social-menu ul li{
	list-style:none;
	margin:0 10px;	
}
.social-menu ul li .fa{
	font-size:25px;
	line-height:50px;
	transition:0.6s;
	color:white;
}
.social-menu ul li a{
	position:relative;
	display:block;
	width:50px;
	height:50px;
	border-radius:50%;
	text-align:center;
	transition:0.6s;
	box-shadow:2px 2px 4px rgba(0,0,0,0.5);

}
.social-menu ul li a:hover{
	transform:translate(0,-10px);
}
.social-menu ul li:nth-child(1) a {
	background-color:#3b5999;
    
}
.social-menu ul li:nth-child(2) a{
	background-color:#25D366;
}
.social-menu ul li:nth-child(3) a{
	background:linear-gradient(195deg,rgb(158, 4, 158),rgb(240, 30, 30),rgb(255, 255, 6));
}
.social-menu ul li:nth-child(4) a {
	background-color:#505052;
}
.social-menu ul li:nth-child(5) a {
	background-color:#55acec;
}

.contact .contactcontainer .socialbox .phoneno{
    margin-top: 50px;
    margin-left: 200px;
    width: fit-content;
    padding: 8px 15px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    background-color: crimson;
    border:none;
}
.contact .contactcontainer .socialbox .myemail{
    margin-top: 20px;
    margin-left: 150px;
    width: fit-content;
    padding: 8px 15px;
    font-size: 20px;
    color: white;
    background-color: crimson;
    border:none;
    border-radius: 5px;
}
.contact #copyright{
background-color: crimson;
padding:10px 10px;
color:white;
font-size: 0.8em;
text-align: center;
}


/*-----------------------------------------------------Media Queries--------------------------------------------------------*/
  @media screen and (max-width:1280px){

    .container{
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: 1fr 1fr 1fr auto auto auto ;
    }
    
    .menu{
        height: 100vh;
        width: 250px;
    }
    .menu img{
        margin:30px 40px;      
    }
    .menu h3{
        margin-top: -21px;
        font-size: 1.2em;
    }
    .menu h2{
        font-size: 1.12em;
    }
    .menu nav{
        margin-top: 20px;
        line-height: 48px;
    }
    .menu nav ul{
    font-size: 1.2em;
    }
    .menu nav ul li a:hover{

    padding-top:2px;
    padding-bottom: 2px;
    padding-right: 20px;
    }      

    .right{
       height: 100vh;
        width: 80%;
        margin-left:240px;
    }
    /*-------------------Property of titles--------------------------*/
   
    .titles{
        margin-left: 50px;
        margin-top: 50px;
        font-size: 3em;
    }
 
     .profilepage{
        height: 80vh;
        transform: translateY(220px);
    }
 

     .about{
        width: auto;
        height: auto;
         margin-top: 50px;
         padding-bottom:50px ;
        }
    .about #about{
        text-align: justify;
    }
    .about #abtcontent{
        font-size: 1.1em;
        word-spacing: 3px;
        margin-left: 30px;
        line-height: 25px;
    }
    
    .about .gridboxes{
        display: grid;
        grid-template-columns: 256px 256px 256px;
        grid-template-rows: 300px;
        margin-left: 40px;
        margin-top: 50px;
        grid-gap:50px;
    }
    .about .items{
        border-radius: 12px;
    }
    .about  .fa-code{
        font-size: 4em;
        margin-left: 80px;
    }
    .about  .fa-connectdevelop{
        font-size: 4em;
        margin-left: 93px;
    }
    .about  .fa-desktop{
        font-size: 4em;
        margin-left: 88px;
    }
        .about .items h4{
        text-align: center;
        font-size: 2em;
    }
    .about #itemcontent{
        padding:0 10px;
        text-align: justify;
        font-size: 1.25em;
    }

    .qualification{
        max-height: 600px;
        width: auto;
    }
    .qualification .qualifications{
        margin-top: 90px;
        margin-left: 100px;
        display:grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto;
        grid-gap: 90px;
    }
    .qualification .qualifications .edu{
        padding: 10px 20px;
        border-radius: 5px;
        text-align:center;
    }
    .qualification .qualifications .edu #edutitle{
        font-weight: 800;
        font-size: 1.2em;
        padding-bottom: 15px;
    }
    .skill{
        width: 90%;
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: 150px 150px 150px;
    }    
    
    .projects{
        margin-bottom: 50px;
    }
    .projects .projectcontainer{
        
        padding: 20px 80px;
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows:250px 250px;
        grid-gap: 35px;
      
    }
 

    .contact{
        height: 80vh;
        width: 80%;
    }
    .contact #conttitle{
        padding-top: 70px;
        color: white;
    }
    .contact .contactcontainer{
        height: 50vh;
        
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
     
    }
    .contact .contactcontainer .formbox .input{
        padding: 8px 10px;
        font-size:15px;
        width:350px;
        border-radius: 5px;
        border:none;
    }

    .contact .contactcontainer .socialbox{
     width: auto;
     height: 45vh;
     margin-left: 20px;
    }
    .contact .contactcontainer .socialbox .haveaquestion{
        text-align: center;
        font-size: 22px;
        font-weight: 500;
    }
    .contact .contactcontainer .socialbox .social-menu ul{
        padding:0;
        margin:0 6%;
        display:flex;
    }
    
    
    .contact .contactcontainer .socialbox .phoneno{
        margin-top: 50px;
        margin-left: 125px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border-radius: 5px;
        border:none;
    }
    .contact .contactcontainer .socialbox .myemail{
        margin-top: 20px;
        margin-left: 80px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border:none;
        border-radius: 5px;
    }
    .contact #copyright{
        width:auto;
    padding:15px 10px;
    font-size: 0.8em;
    text-align: center;
    }
}


/*------------------------------------MEDIA QUERY FOR 980PX-------------------------------------------*/
@media screen and (max-width:980px){    
    .container{
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: 1fr 1fr auto auto auto auto ;
    }
    .menu{
        height: 100vh;
        width: 240px;
    }
    .menu h3{
        margin:0;
        font-size: 1.26em;
    }
    .menu h2{
        font-size: 1.1em;
    }
    .menu nav{
        margin-top: 15px;
        line-height: 48px;
    }
    .menu nav ul{
    font-size: 1.2em;
    }
    .right{
       height: 100vh;
       width: 710px;
       overflow: hidden;
        margin-left:240px;
    }
    .titles{
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2.5em;
    }
     .profilepage{
        height: 80vh;
        width: auto;
        transform: translateY(220px);
    }
       .about{
        width: 720px;
        height: auto;
         padding-bottom:50px ;
        }
    .about #about{
        text-align: justify;
    }
    .about #abtcontent{
        font-size: 1.1em;
        word-spacing: 2px;
        margin-left: 30px;
        line-height: 25px;
    }
    
    .about .gridboxes{
        display: grid;
        grid-template-columns: 220px 220px 220px;
        grid-template-rows: 300px;
        margin-left: 15px;
        margin-top: 50px;
        grid-gap:15px;
    }

    .about  .fa-code{
        font-size: 4em;
        margin-left: 70px;
    }
    .about  .fa-connectdevelop{
        font-size: 4em;
        margin-left: 73px;
    }
    .about  .fa-desktop{
        font-size: 4em;
        margin-left: 75px;
    }
        .about .items h4{
        text-align: center;
        font-size: 1.5em;
    }
    .about #itemcontent{
        padding:0 10px;
        text-align: justify;
        font-size: 1.1em;
    }
    .qualification{
        width: 720px;
        max-height: 400px;
 
    }
    .qualification .qualifications{
        margin-top: 90px;
        margin-left: 50px;
        display:grid;
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: auto;
        grid-gap: 10px;
    }
    .qualification .qualifications .edu{
        padding: 10px 20px;
        border-radius: 5px;
        text-align:center;
    }
    .qualification .qualifications .edu #edutitle{
        font-weight: 800;
        font-size: 1.2em;
        padding-bottom: 15px;
    } 
    .skills{
        width: 720px;
        padding-top: 10px;
        height: auto;
        padding-bottom: 50px;
    }  
    .skill{
        display: grid;
        grid-template-columns: 150px 150px 150px;
        grid-template-rows: 150px 150px 150px 150px;
    }    
    
    .projects{
        margin-bottom: 50px;
    }
    .projects .projectcontainer{
        height: auto;
        padding: 20px 150px;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows:200px 200px 200px;
        grid-gap: 50px;
      
    }
    .projects .projectcontainer img{
        height: 150px;
        width: 198px;
    }
 

    .contact{
        height:auto;
        width: 720px;
    }
    .contact #conttitle{
        padding-top: 70px;
    }
    .contact .contactcontainer{
        height: auto;
        display: grid;
        margin-left: 100px;
        grid-template-columns:1fr;
        grid-template-rows: .5fr 0.5fr;
        grid-gap: 10px;
     
    }
    .contact .contactcontainer .formbox .input{
        padding: 8px 10px;
        font-size:15px;
        width:350px;
        border-radius: 5px;
        border:none;
    }

    .contact .contactcontainer .socialbox{
     width: auto;
     height: 45vh;
     margin-left: 40px;
    }
    .contact .contactcontainer .socialbox .haveaquestion{
        text-align: justify;
        font-size: 22px;
        font-weight: 500;
    }
    .contact .contactcontainer .socialbox .social-menu ul{
        padding:0;
        margin:0 8%;
        display:flex;
    }
    .contact .contactcontainer .socialbox .phoneno{
        margin-top: 50px;
        margin-left: 150px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border-radius: 5px;
        border:none;
    }
    .contact .contactcontainer .socialbox .myemail{
        margin-top: 20px;
        margin-left: 100px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border:none;
        border-radius: 5px;
    }
    .contact #copyright{
        width:698px;
        padding:15px 10px;
        font-size: 0.8em;
        text-align: center;
    }
}

/*------------------------------------MEDIA QUERY FOR 780PX-------------------------------------------*/
@media screen and (max-width:780px){    
    .container{
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: 1fr 1fr auto auto auto auto ;
    }
    .menu{
        height: 100vh;
        width: 180px;
    }
    .menu img{
        margin:20px 8px;      
    }
    .menu h3{
        margin:0;
        font-size: 1.15em;
    }
    .menu h2{
        font-size: 1.2em;
    }
    .menu nav{
        margin-top: 10px;
        line-height: 38px;
    }
    .menu nav ul{
    font-size: 1.2em;
    }
    .right{
       height: 100vh;
       width: auto;
       overflow: hidden;
       margin-left:180px;
    }
    .titles{
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2.5em;
    }
     .profilepage{
        height: 80vh;
        width: auto;
        transform: translateY(220px);
    }
    .profilepage h1{
        font-size: 3em;
        line-height: 60px;
        padding-left: 45px;
    }
       .about{
        width: 582px;
        height: auto;
         padding-bottom:50px ;
        }
    .about #about{
        text-align: justify;
    }
    .about #abtcontent{
        font-size: 1.1em;
        word-spacing: 2px;
        margin-left: 30px;
        line-height: 25px;
    }
    
    .about .gridboxes{
        display: grid;
        grid-template-columns: 230px 230px;
        grid-template-rows: 300px 300px;
        margin-left: 52px;
        margin-top: 50px;
        grid-gap:35px;
    }
    .about  .fa-code{
        font-size: 4em;
        margin-left: 80px;
    }
    .about  .fa-connectdevelop{
        font-size: 4em;
        margin-left: 80px;
    }
    .about  .fa-desktop{
        font-size: 4em;
        margin-left: 80px;
    }
    .about .items h4{
        text-align: center;
        font-size: 1.5em;
    }
    .about #itemcontent{
        padding:0 10px;
        text-align: justify;
        font-size: 1.1em;
    }
    .qualification{
        width: 582px;
        max-height: 400px;
 
    }
    .qualification .qualifications{
        margin-top: 60px;
        margin-left: 10px;
        display:grid;
        grid-template-columns: 180px 180px 180px;
        grid-template-rows: auto;
        grid-gap: 10px;
    }
    .qualification .qualifications .edu{
        padding: 10px 10px;
        border-radius: 5px;
        text-align:center;
    }
    .qualification .qualifications .edu #edutitle{
        font-weight: 800;
        font-size: 1.2em;
        padding-bottom: 15px;
    } 
    .skills{
        width: 582px;
        padding-top: 10px;
        height: auto;
        padding-bottom: 50px;
    }  
    .skill{
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 120px 120px 120px 135px;
    }    
    .skill .skillicon{
        width: 80px;
        height:80px;
    }
    .projects{
        width: 582px;
        height: auto;
        margin-bottom: 50px;
    }
    .projects .projectcontainer{
        height: auto;
        padding: 20px 60px;
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows:200px 200px 200px;
        grid-gap: 50px;
      
    }
    .projects .projectcontainer img{
        height: 150px;
        width: 198px;
    }
 

    .contact{
        height:auto;
        width: 582px;
        
    }
    .contact #conttitle{
        padding-top: 70px;
    }
    .contact .contactcontainer{
        height: auto;
        display: grid;
        margin-left: 50px;
        grid-template-columns:1fr;
        grid-template-rows: .5fr 0.5fr;
        grid-gap: 10px;
     
    }

    .contact .contactcontainer .formbox .input{
        padding: 8px 10px;
        font-size:15px;
        width:350px;
        border-radius: 5px;
        border:none;
    }

    .contact .contactcontainer .socialbox{
     width: auto;
     height: 45vh;
     margin-left: 40px;
    }
    .contact .contactcontainer .socialbox .haveaquestion{
        margin-left: 30px;
        text-align: justify;
        font-size: 22px;
        font-weight: 500;
    }
    .contact .contactcontainer .socialbox .social-menu ul{
        padding:0;
        margin:0 8%;
        display:flex;
    }
    .contact .contactcontainer .socialbox .phoneno{
        margin-top: 50px;
        margin-left: 150px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border-radius: 5px;
        border:none;
    }
    .contact .contactcontainer .socialbox .myemail{
        margin-top: 20px;
        margin-left: 100px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
      

        border:none;
        border-radius: 5px;
    }
    .contact #copyright{
        width:698px;
        padding:15px 10px;
        font-size: 0.8em;
        text-align: center;
    }
}

/*------------------------------------MEDIA QUERY FOR 540PX-------------------------------------------*/
@media screen and (max-width:540px){    
    .container{
        display: grid;
        overflow: hidden;
        grid-template-columns:1fr ;
        grid-template-rows: auto auto auto auto auto auto ;
    }
    .menu{
        height: 100vh;
        width: 180px;
     display: none;
    }
    .menu img{
        margin:20px 8px;      
    }
    .menu h3{
        margin:0;
        font-size: 1.15em;
    }
    .menu h2{
        font-size: 1.2em;
    }
    .menu nav{
        margin-top: 10px;
        line-height: 38px;
    }
    .menu nav ul{
    font-size: 1.2em;
    }
    .right{
       height: 100vh;
        width: 540px;
       overflow: hidden;
       margin-left:0px;
    }
    .titles{
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2.5em;
    }
     .profilepage{
        height: 90vh;
       
       
        transform: translateY(220px);
    }
    .profilepage h1{
        font-size: 2.8em;
        line-height: 20px;
        padding-left:45px;
    }
    .profilepage  #belowtitle{
        padding-left: 45px;
        margin: 0 0 20px 0;
        font-size: 1.43em;
    }
    .profilepage .btn{
        margin-left: 50px;
        height: 40px;
        width: 150px;
        font-size: 1.01em;
    }
     .about{
     
        height: auto;
         padding-bottom:50px ;
        }
    .about #about{
        text-align: justify;
    }
    .about #abtcontent{
        font-size: 1em;
        word-spacing: 2px;
        margin-left: 30px;
        line-height: 25px;
    }
    
    .about .gridboxes{
        margin-left: 10px;
        grid-template-columns: 220px 220px;
        grid-template-rows: 300px 300px;
        grid-gap:15px;
    }
   
    .about  .fa-code{
        font-size: 4em;
        margin-left: 80px;
    }
    .about  .fa-connectdevelop{
        font-size: 4em;
        margin-left: 80px;
    }
    .about  .fa-desktop{
        font-size: 4em;
        margin-left: 80px;
    }
    .about .items h4{
        text-align: center;
        font-size: 1.5em;
    }
    .about #itemcontent{
        padding:0 10px;
        text-align: justify;
        font-size: 1.1em;
    }

    .qualification{
        max-height: 600px;
    }
    .qualification .qualifications{
        margin-top: 60px;
        margin-left: 40px;
        display:grid;
        grid-template-columns: 180px 180px;
        grid-template-rows: auto auto;
        grid-gap: 50px;
    }
    .qualification .qualifications .edu{
        padding: 10px 10px;
        border-radius: 5px;
        text-align:center;
    }
    .qualification .qualifications .edu #edutitle{
        font-size: 1.2em;
        padding-bottom: 15px;
    } 
    .skills{
        width: auto;
        padding-top: 0px;
        padding-left:10px;
        height: 80vh;
        padding-bottom: 50px;
    }  
    .skill{
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        grid-template-rows: 120px 120px 135px;
        grid-gap: 10px;
        margin-left: 10px;
    }    

    .skill .skillicon{
        width: 80px;
        height:80px;
    }
    .projects{
        height: auto;
        margin-left: -30px;
        margin-bottom: 50px;
    }
    .projects .projecttitle{
        padding-left: 20px;
    }
    .projects .projectcontainer{
        padding: 20px 40px;
        display: grid;
        grid-template-columns: 190px 190px;
        grid-template-rows:200px 200px 200px;
        grid-gap: 50px;
      
    }
    .projects .projectcontainer img{
        height: 150px;
        width: 185px;
    }
    .contact{
        height: auto;
    }
    .contact #conttitle{
        padding-top: 70px;

    }
    .contact .contactcontainer{
        height: auto;
        display: grid;
        margin-left: 50px;
        grid-template-columns:1fr;
        grid-template-rows: .5fr 0.5fr;
        grid-gap: 10px;
     
    }
    .contact .contactcontainer .formbox{
        margin-left: -15px;
    }

    .contact .contactcontainer .formbox .input{
        padding: 8px 10px;
        font-size:15px;
        width:350px;
        border-radius: 5px;
        border:none;
    }

    .contact .contactcontainer .socialbox{
     width: 525;
     height: 45vh;
     margin-left: 10px;
    }
    .contact .contactcontainer .socialbox .haveaquestion{
        margin-left: 0px;
        text-align: justify;
        font-size: 22px;
        color: white;
        font-weight: 500;
    }
    .contact .contactcontainer .socialbox .social-menu ul{
        padding:0;
        margin:0 8%;
        display:flex;
    }
    .contact .contactcontainer .socialbox .phoneno{
        margin-top: 50px;
        margin-left: 120px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
  
        border-radius: 5px;
    
        border:none;
    }
    .contact .contactcontainer .socialbox .myemail{
        margin-top: 20px;
        margin-left: 70px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
 

        border:none;
        border-radius: 5px;
    }
    .contact #copyright{
        width:auto;
        padding:15px 10px;
        font-size: 0.8em;
        text-align: justify;
    }
}


/*------------------------------------MEDIA QUERY FOR 425PX-------------------------------------------*/
@media screen and (max-width:425px){    
    .container{
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: auto auto auto auto auto auto ;
    }
    .menu{
        height: 100vh;
        width: 180px;
  
    }
    .menu img{
        margin:20px 8px;      
    }
    .menu h3{
        margin:0;
        font-size: 1.15em;
    }
    .menu h2{
        font-size: 1.2em;
    }
    .menu nav{
        margin-top: 10px;
        line-height: 38px;
    }
    .menu nav ul{
    font-size: 1.2em;
    }
    .right{
       height: 100vh;
        width: auto;
      
       margin-left:0px;
    }
    .titles{
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2.5em;
    }
     .profilepage{
        height: 90vh;
       
       
        transform: translateY(220px);
    }
    .profilepage h1{
        font-size: 2.5em;
        line-height: 20px;
        padding-left:26px;
    }
    .profilepage  #belowtitle{
        padding-left: 26px;
        font-size: 1.23em;
    }
    .profilepage .btn{
        margin-left: 30px;
        height: 30px;
        width: 130px;
        border-radius: 0;

    }
     .about{
         height: auto;
         padding-bottom:50px;
       
        }
    .about #about{
        text-align: justify;
    }
    .about #abtcontent{
        width: fit-content;
        font-size:1em;
        padding-left: 30px;
        padding-right: 65px;
        text-align: justify;
        word-spacing: 0px;
        margin-left: -20px;
        line-height: 25px;
    }
    
    .about .gridboxes{
        margin-left: 50px;
        grid-template-columns: 300px ;
        grid-template-rows: auto auto auto;
        grid-gap:15px;
       
    }
   
    .about  .fa-code{
        font-size: 3em;
        margin-left: 120px;
    }
    .about  .fa-connectdevelop{
        font-size: 3em;
        margin-left: 120px;
    }
    .about  .fa-desktop{
        font-size: 3em;
        margin-left: 120px;
    }
    .about .items h4{
        text-align: center;
        font-size: 1.5em;
    }
    .about #itemcontent{
        padding:0 10px;
        text-align: justify;
        font-size: 1.1em;
        padding:  10px;
    }

    .qualification{
       height: auto; 
       margin-bottom: 20px;
    }
    .qualification .qualifications{
        margin-top: 0px;
        margin-left: 100px;
        display:grid;
        grid-template-columns: 180px ;
        grid-template-rows: auto auto auto;
        grid-gap: 30px;
    }
    .qualification .qualifications .edu{
        padding:5px;
        border-radius: 5px;
        text-align:center;
    }
    .qualification .qualifications .edu #edutitle{
        font-size: 1.2em;
        padding-bottom: 10px;
    } 
    .skills{
        width: auto;
        padding-top: 0px;
        padding-left: 20px;
        height: 80vh;
        padding-bottom: 80px;
    }  
    .skill{
        display: grid;
        grid-template-columns: 80px 80px 80px 80px;
        grid-template-rows: 120px 120px 135px;
        grid-gap: 20px;
    }    

    .skill .skillicon{
        width:70px;
        height:80px;
    }
    .projects{
        height: auto;
        margin-left: -30px;
        margin-bottom: 50px;
    }
    .projects .projecttitle{
        padding-left: 20px;
    }
    .projects .projectcontainer{
        padding: 20px 40px;
        display: grid;
        grid-template-columns: 190px 190px;
        grid-template-rows:200px 200px 200px;
        grid-gap: 20px;
      
    }
    .projects .projectcontainer img{
        height: 150px;
        width: 185px;
    }
    .contact{
        height: auto;
    }
    .contact #conttitle{
        padding-top: 70px;

    }
    .contact .contactcontainer{
        height: auto;
        display: grid;
        margin-left: 20px;
        grid-template-columns:1fr;
        grid-template-rows: .5fr 0.5fr;
        grid-gap: 10px;
     
    }
    .contact .contactcontainer .formbox{
        margin-left: -15px;
    }

    .contact .contactcontainer .formbox .input{
        padding: 8px 10px;
        font-size:15px;
        width:350px;
        border-radius: 5px;
        border:none;
    }

    .contact .contactcontainer .socialbox{
     width:auto;
     height: 45vh;
     margin-left: 10px;
    }
    .contact .contactcontainer .socialbox .haveaquestion{
        margin-left: -10px;
        text-align: justify;
        font-size: 22px;
        font-weight: 500;
    }
    .contact .contactcontainer .socialbox .social-menu{
        margin-left: -30px;
    }
    .contact .contactcontainer .socialbox .social-menu ul{
        padding:0px;
        margin:0 8%;
        display:flex;

    }
    .contact .contactcontainer .socialbox .phoneno{
        margin-top: 50px;
        margin-left: 120px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border-radius: 5px;
        border:none;
    }
    .contact .contactcontainer .socialbox .myemail{
        margin-top: 20px;
        margin-left: 70px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border-radius: 5px;
    }
    .contact #copyright{
        width:auto;
        font-size: .8em;
        text-align: center;
    }
}


/*------------------------------------MEDIA QUERY FOR 401PX-------------------------------------------*/
@media screen and (max-width:401px){    
    .menu{
        height: 100vh;
        width: 180px;
  
    }
    .menu img{
        margin:20px 8px;      
    }
    .menu h3{
        margin:0;
        font-size: 1.15em;
    }
    .menu h2{
        font-size: 1.2em;
    }
    .menu nav{
        margin-top: 10px;
        line-height: 38px;
    }
    .menu nav ul{
    font-size: 1.2em;
    }
    .right{
       height: 100vh;
        width: auto;
      
       margin-left:0px;
    }
    .titles{
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2.5em;
    }
     .profilepage{
        height: 90vh;
       
       
        transform: translateY(220px);
    }
    .profilepage h1{
        font-size: 2.5em;
        line-height: 20px;
        padding-left:26px;
    }
    .profilepage  #belowtitle{
        padding-left: 26px;
        font-size: 1.23em;
    }
    .profilepage .btn{
        margin-left: 30px;
        height: 30px;
        width: 130px;
        border-radius: 0;

    }
     .about{
         height: auto;
         padding-bottom:50px;
       
        }
    .about #about{
        text-align: justify;
    }
    .about #abtcontent{
        width: fit-content;
        font-size:1em;
        padding-left: 30px;
        padding-right: 35px;
        text-align: justify;
        word-spacing: 0px;
        margin-left: -20px;
        line-height: 25px;
    }
    
    .about .gridboxes{
        margin-left: 50px;
        grid-template-columns: 300px ;
        grid-template-rows: auto auto auto;
        grid-gap:15px;
       
    }
   
    .about  .fa-code{
        font-size: 3em;
        margin-left: 120px;
    }
    .about  .fa-connectdevelop{
        font-size: 3em;
        margin-left: 120px;
    }
    .about  .fa-desktop{
        font-size: 3em;
        margin-left: 120px;
    }
    .about .items h4{
        text-align: center;
        font-size: 1.5em;
    }
    .about #itemcontent{
        padding:0 10px;
        text-align: justify;
        font-size: 1.1em;
        padding:  10px;
    }

    .qualification{
       height: auto; 
       margin-bottom: 20px;
    }
    .qualification .qualifications{
        margin-top: 0px;
        margin-left: 100px;
        display:grid;
        grid-template-columns: 180px ;
        grid-template-rows: auto auto auto;
        grid-gap: 30px;
    }
    .qualification .qualifications .edu{
        padding:5px;
        border-radius: 5px;
        text-align:center;
    }
    .qualification .qualifications .edu #edutitle{
        font-size: 1.2em;
        padding-bottom: 10px;
    } 
    .skills{
        width: auto;
        padding-top: 0px;
        padding-left: 10px;
        height: 80vh;
        padding-bottom: 80px;
    }  
    .skill{
        margin-left: 10px;
        display: grid;
        grid-template-columns: 80px 80px 80px 80px;
        grid-template-rows: 120px 120px 135px;
        grid-gap: 10px;
    }    

    .skill .skillicon{
        width:70px;
        height:80px;
    }
    .projects{
        height: auto;
        margin-left: -30px;
        margin-bottom: 50px;
    }
    .projects .projecttitle{
        padding-left: 20px;
    }
    .projects .projectcontainer{
        padding-left: 40px;
        display: grid;
        grid-template-columns: 180px 180px;
        grid-template-rows:200px 200px 200px;
        grid-gap: 10px;
      
    }
    .projects .projectcontainer img{
        height: 150px;
        width: 175px;
    }
    .contact{
        height: auto;
    }
    .contact #conttitle{
        padding-top: 70px;

    }
    .contact .contactcontainer{
        height: auto;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: .5fr 0.5fr;
        grid-gap: 10px;
     
    }
    .contact .contactcontainer .formbox{
       width: 350px;
       margin-left: -5px;
        padding:10px 5px 30px 10px;

    }

    .contact .contactcontainer .formbox .input{
        padding: 8px 10px;
        font-size:15px;
        width:320px;
        border-radius: 5px;
        border:none;
    }

    .contact .contactcontainer .socialbox{
     width:auto;
     height: 45vh;
     margin-left: 10px;
    }
    .contact .contactcontainer .socialbox .haveaquestion{
        margin-left: -10px;
        text-align: justify;
        font-size: 18px;
        font-weight: 500;
    }
    .contact .contactcontainer .socialbox .social-menu{
        margin-left: -30px;
    }
    .contact .contactcontainer .socialbox .social-menu ul{
        padding:0px;
        margin:0 4%;
        display:flex;

    }
    .contact .contactcontainer .socialbox .phoneno{
        margin-top: 50px;
        margin-left: 100px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border-radius: 5px;
        border:none;
    }
    .contact .contactcontainer .socialbox .myemail{
        margin-top: 20px;
        margin-left: 50px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border:none;
        border-radius: 5px;
    }
    .contact #copyright{
        width:auto;
        font-size: .8em;
        text-align: center;
    }
}


/*------------------------------------MEDIA QUERY FOR 375PX-------------------------------------------*/
@media screen and (max-width:375px){    
    .container{
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: auto auto auto auto auto auto ;
    }
    .menu{
        height: 100vh;
        width: 180px;
  
    }
    .menu img{
        margin:20px 8px;      
    }
    .menu h3{
        margin:0;
        font-size: 1.15em;
    }
    .menu h2{
        font-size: 1.2em;
    }
    .menu nav{
        margin-top: 10px;
        line-height: 38px;
    }
    .menu nav ul{
    font-size: 1.2em;
    }
    .right{
       height: 100vh;
        width: auto;
      
       margin-left:0px;
    }
    .titles{
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2.5em;
    }
     .profilepage{
        height: 90vh;
       
       
        transform: translateY(220px);
    }
    .profilepage h1{
        font-size: 2.2em;
    }
     .about{
         height: auto;
         padding-bottom:50px;
        
        }
    .about #about{
        text-align: justify;
    }
    .about #abtcontent{
        width:auto;
        font-size:1em;
        padding-left: 35px;
        padding-right: 45px;
        text-align: justify;
        word-spacing: 0px;
        margin-left: -20px;
        line-height: 25px;
    }
    .about .gridboxes{
        margin-left: 50px;
        grid-template-columns: 300px ;
        grid-template-rows: auto auto auto;
        grid-gap:15px;  
    }

    .about .items h4{
        text-align: center;
        font-size: 1.5em;
    }
    .about #itemcontent{
        padding:10px;
        text-align: justify;
        font-size: 1.1em; 
    }
    .skills{
        width: auto;
        padding-top: 0px;
        padding-left: 10px;
        height: 100vh;
        padding-bottom: 80px;
    }  
    .skill{
        padding-left: 20px;
        display: grid;
        grid-template-columns: 85px 85px 85px  ;
        grid-template-rows: 120px 120px 120px 138px;
        grid-gap: 20px;
    }    

    .skill .skillicon{
        width:75px;
        height:80px;
    }
    .projects{
        height: auto;
        margin-left: -30px;
        margin-bottom: 50px;
    }
    .projects .projecttitle{
        padding-left: 20px;
    }
    .projects .projectcontainer{
        padding: 20px 90px;
        display: grid;
        grid-template-columns: 250px ;
        grid-template-rows:200px 200px 200px auto auto;
        grid-gap: 20px;
    }
    .projects .projectcontainer img{
        height: 150px;
        width: 248px;
    }
    .contact{
        height: auto;
    }
    .contact #conttitle{
        padding-top: 70px;

    }
    .contact .contactcontainer{
        height: auto;
        display: grid;
        margin-left: 20px;
        grid-template-columns:1fr;
        grid-template-rows: .5fr 0.5fr;
        grid-gap: 10px;
     
    }
    .contact .contactcontainer .formbox{
        background-color: rgba(255,255,255,0.5);
        height: 300px;
        width: 290px;
        margin-left: 5px;
        padding:20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        line-height: 25px;
        border-radius: 5px;
    }

    .contact .contactcontainer .formbox .input{
        padding: 8px 10px;
        font-size:15px;
        width:270px;
        border-radius: 5px;
        border:none;
    }

    .contact .contactcontainer .socialbox{
     width:auto;
     height: 45vh;
     margin-left: 10px;
    }
    .contact .contactcontainer .socialbox .haveaquestion{
        margin-left: 0px;
        text-align: justify;
        font-size: 18px;
    }
    .contact .contactcontainer .socialbox .social-menu{
        margin-left: -10px;
    }
   
    .contact .contactcontainer .socialbox .social-menu ul{
        padding:0px;
        margin:0;
        display:flex
    }
    .contact .contactcontainer .socialbox .phoneno{
        margin-top: 50px;
        margin-left: 90px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border-radius: 5px;
        border:none;
    }
    .contact .contactcontainer .socialbox .myemail{
        margin-top: 20px;
        margin-left: 40px;
        width: fit-content;
        padding: 8px 15px;
        font-size: 20px;
        border:none;
        border-radius: 5px;
    }
    .contact #copyright{
        width:auto;
        padding:15px 10px;
        font-size: .8em;
        text-align: center;
    }
}




/*------------------------------------MEDIA QUERY FOR 320PX-------------------------------------------*/
@media screen and (max-width:320px){    
    .container{
        display: grid;
        grid-template-columns:1fr ;
        grid-template-rows: auto auto auto auto auto auto ;
    }
    .menu{
        height: 100vh;
        width: 180px;
  
    }
    .menu img{
        margin:20px 8px;      
    }
    .menu h3{
        margin:0;
        font-size: 1.15em;
    }
    .menu h2{
        font-size: 1.2em;
    }
    .menu nav{
        margin-top: 10px;
        line-height: 38px;
    }
    .menu nav ul{
    font-size: 1.2em;
    }
    .right{
       height: 100vh;
        width: auto;
       margin-left:0px;
    }
    .titles{
        margin-left: 20px;
        margin-top: 50px;
        font-size: 2.5em;
    }
     .profilepage{
        height: 90vh;
        transform: translateY(220px);
    }
    .profilepage h1{
        font-size: 2em;
       padding-left: 5px;
    }
    .profilepage  #belowtitle{
        padding-left: 5px;
        font-size: 1.1em;
    }
    .profilepage .btn{
        margin-left: 10px;
        height: 25px;
        width: 120px;
        font-size:0.9em;
        border-radius: 1px;
    }
     .about{
         height: auto;
         padding-bottom:50px;
       
        }
    .about #about{
        text-align: justify;
    }
    .about #abtcontent{
        width:auto;
        font-size:1em;
        padding-left: 35px;
        padding-right: 85px;
        text-align: justify;
        word-spacing: 0px;
        margin-left: -20px;
        line-height: 25px;
    }
    
    .about .gridboxes{
        margin-left: 10px;
        grid-template-columns: 300px ;
        grid-template-rows: auto auto auto;
        grid-gap:15px;
    }

    .about .items h4{
        text-align: center;
        font-size: 1.5em;
    }
    .about #itemcontent{
        padding:10px;
        text-align: justify;
        font-size: 1.1em;

    }
    .qualification .qualifications{
        margin-top: 0px;
        margin-left: 70px;
    }
    
    .skills{
        width: auto;
        padding-top: 0px;
        padding-left: 10px;
        height: 100vh;
        padding-bottom: 80px;
    }  
    .skill{
        padding-left: 2px;
    }    
    .projects{
        height: auto;
        margin-left: 0px;
        margin-bottom: 50px;
    }
    .projects .projecttitle{
        padding-left: 20px;
    }
    .projects .projectcontainer{
        padding: 20px 35px;
        display: grid;
        grid-template-columns: 250px ;
        grid-template-rows:200px 200px 200px auto auto;
        grid-gap: 20px;
      
    }
    .projects .projectcontainer img{
        height: 150px;
        width: 248px;
    }
    .contact{
        height: auto;
    }
    .contact #conttitle{
        padding-top: 0px;

    }
    .contact .contactcontainer{
        height: auto;
        display: grid;
        margin-left: 0px;
        grid-template-columns:1fr;
        grid-template-rows: .5fr 0.5fr;
        grid-gap: 10px;
     
    }
    .contact .contactcontainer .formbox{
        background-color: rgba(255,255,255,0.5);
        height: 300px;
        width: 270px;
        margin-left: 5px;
        padding:20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1em;
        line-height: 25px;
        border-radius: 5px;
    }

    .contact .contactcontainer .formbox .input{
        padding: 8px 10px;
        font-size:15px;
        width:260px;
        border-radius: 5px;
       
    }

    .contact .contactcontainer .socialbox{
     width:auto;
     height: 45vh;
     margin-left: 10px;
    }
    .contact .contactcontainer .socialbox .haveaquestion{
        margin-top: 50px;
        margin-left: 0px;
        text-align: justify;
        font-size: 17px;
  
    }
    .contact .contactcontainer .socialbox .social-menu{
        margin-left:10px;
    }

    .social-menu ul li .fa{
        font-size:20px;
        line-height:35px;
        transition:0.6s;
    }
    .social-menu ul li a{
        width:35px;
        height:35px;
    }    
    .contact .contactcontainer .socialbox .phoneno{
        margin-top: 40px;
        margin-left: 70px;
        padding: 8px 25px;
        font-size: 15px;
    }
    .contact .contactcontainer .socialbox .myemail{
        margin-top: 20px;
        margin-left: 28px;
        width: fit-content;
        padding: 8px 25px;
        font-size: 15px;
       
    }
    .contact #copyright{   
    font-size: 0.8em;
    }
}    